<!DOCTYPE html>
<html>
<head>
    <title>Liste des services Minikube</title>
</head>
<body>
    <h1>Liste des services Minikube</h1>
    <table class="data-table table nowrap">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Namespace</th>
                <th>Service Type</th>
                <th>Cluster IP</th>
                <th>External IP</th>
            </tr>
        </thead>
        <tbody>
            {% for service in service_list %}
            <tr>
                <td>{{ service['Service Name'] }}</td>
                <td>{{ service['Namespace'] }}</td>
                <td>{{ service['Service Type'] }}</td>
                <td>{{ service['Cluster IP'] }}</td>
                <td>{{ service['External IP'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
